<dl class="bmeta">
	<dt>
		<div>
			<img src="../tianqiimg/zhanqun/images/clothing/1.png">
		</div>
		<p>
			天气炎热
			<br>建议穿薄型T恤短裤等夏装
		</p>
	</dt>
	<dd>
		<div>
			<span class="life-rain1"></span>
			<p>建议带伞</p>
		</div>
		<div>
			<span class="life-moring1"></span>
			<p>适宜晨练</p>
		</div>
	</dd>
	<dd>
		<div>
			<span class="life-dressed2"></span>
			<p>紫外线强</p>
		</div>
		<div>
			<span class="life-cold2"></span>
			<p>较易发感冒</p>
		</div>
	</dd>
	<dd>
		<div>
			<span class="life-carwash1"></span>
			<p>适合洗车</p>
		</div>
		<div>
			<span class="life-driving1"></span>
			<p>适宜开车</p>
		</div>
	</dd>
	<dd>
		<div>
			<span class="life-sun2"></span>
			<p>不宜晾晒</p>
		</div>
		<div>
			<span class="life-fishing2"></span>
			<p>不宜钓鱼</p>
		</div>
	</dd>
</dl>