@charset "utf-8";
$rem-base:27px;
@import "moblie-mixin";

.wrapper {
    width: rem-calc(720);
    font-size: rem-calc(10);
    min-height: 100%;
    position: relative;
    padding-bottom: rem-calc(112 + 50/1.5);
}

