@mixin new-module($name) {
    section.#{$name} {
    	background: #adadad;
    	margin-bottom: rem-calc(4);
        .btitle {
            padding-left: rem-calc(40);
            line-height: rem-calc(58);
            background: #cbcbcb;
        }
        @content;
    }
}
@mixin new-header($name) {
    .#{$name}{
        margin-bottom: rem-calc(4);
        
    }
    @content;
}
