@charset "utf-8";
$rem-base:27px;
$reset:true;
$Response:true;
@import "compass";
@import "../_function/moblie-mixin";
@import "components/new-module";
html,
body {
    height: 100%;
    overflow: scroll;
}

.wraper {
    padding: rem-calc(10);
    box-sizing:border-box;
    min-height: 100%;
    background: #707070;
}

// 页头
@include new-header(header) {
    @at-root {
        .contain-head {
            display: table;
            width: 100%;
            @include display-flex(flex);
            @include align-items(center);
            padding: rem-calc(17) 0;
            background: #cbcbcb;
            .title-icon {
                display: table-cell;
                width: rem-calc(100);
                height: rem-calc(100);
                vertical-align: middle;
                padding-left: rem-calc(40);
                img {
                    display: block;
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .content {
                display: table-cell;
                vertical-align: middle;
                padding-left: rem-calc(20);
                margin-right: auto;
                .name {
                    margin-bottom: rem-calc(12);
                    font-size: rem-calc(28);
                    color: #1b1b1b;
                }
                .address {
                    font-size: rem-calc(22);
                    color: #535353;
                }
            }
            .chandi {
                display: table-cell;
                text-align: right;
                padding-right: rem-calc(20);
                font-size: rem-calc(22);
                color: #1f1f1f;
            }
        }
        .persion-msg {
            @include display-flex(flex);
            @include justify-content(space-between);
            line-height: rem-calc(60);
            font-size: rem-calc(22);
            background: #adadad;
            color: #565656;
            li {
                span {
                    font-size: rem-calc(24);
                }
                &:first-child {
                    padding-left: rem-calc(40);
                }
                &:last-child {
                    padding-right: rem-calc(40);
                }
            }
        }
    }
    .chandi {
        vertical-align: bottom;
        @include align-self(flex-end);
    }
    .persion-msg {
        li {
            span {
                color: #fff;
            }
        }
    }
}

// 个人页面页头
@include new-header(header-persion) {
    .chandi {
        vertical-align: middle;
        @include align-self(center);
    }
    .persion-msg {
        li {
            span {
                color: #000;
            }
        }
    }
}

// 简介
@include new-module(jianjie) {
    background: #adadad;
    .bmeta {
        min-height: rem-calc(216);
        padding: rem-calc(22);
    }
    .button {
        display: block;
        width: 100%;
        line-height: rem-calc(56);
        border-top: 1px solid #d7d7d7;
        text-align: center;
        color: #838383;
    }
}

// 照片
@include new-module(pic-show) {
    .bmeta {
        padding: rem-calc(22);
        ul {
            width: 100%;
            @include pie-clearfix;
        }
        li {
            float: left;
            width: percentage(1/4);
            div {
                padding: 0 rem-calc(10);
            }
            img {
                width: 100%;
            }
        }
    }
}

// 联系方式
@include new-module(tel) {
    .bmeta {
        line-height: rem-calc(58);
        padding-left: rem-calc(40);
        font-size: rem-calc(24);
        color: #232323;
        .tel-icon {
            float: right;
            margin-top: rem-calc(10);
            margin-right: rem-calc(20);
            display: inline-block;
            line-height: rem-calc(58);
            width: rem-calc(35);
            height: rem-calc(35);
            background: image-url("tel-icon.png");
            background-size: rem-calc(35) rem-calc(35);
        }
    }
}

// 相关演出
@import "components/sprite";
@include new-module(yanchu-list) {
    background: none;
    .btitle {
        margin-bottom: rem-calc(4);
    }
    .item-list {
        background: #adadad;
        position: relative;
        margin-bottom: rem-calc(4);
        @include pie-clearfix;
        .corner {
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .saling {
        .corner {
            @include rem-sprite($corner,
            sales);
        }
    }
    .salend {
        .corner {
            @include rem-sprite($corner,
            end);
        }
    }
    .yc-banner {
        padding: rem-calc(4);
        float: left;
        img {
            display: block;
            width: rem-calc(215);
            height: rem-calc(318);
        }
    }
    .yc-msg {
        padding: rem-calc(28) rem-calc(40) 0 rem-calc(215 + 40);
        .title {
            font-size: rem-calc(24);
            font-weight: bold;
        }
        .des {
            margin: rem-calc(30) rem-calc(15);
            font-size: rem-calc(22);
            line-height: rem-calc(35);
            color: #1e1e1e;
        }
        .price {
            position: absolute;
            bottom: rem-calc(18);
            font-size: rem-calc(22);
            color: #3b3b3b;
            span {
                margin: 0 rem-calc(8);
                font-size: rem-calc(25);
                font-weight: bold;
                color: #cc3231;
            }
        }
    }
}

@include new-module(my-list) {
    .bmeta {
        a {
            position: relative;
            display: block;
            padding-left: rem-calc(45);
            padding-right: rem-calc(50);
            border-bottom: 1px solid #d2d2d2;
            text-align: right;
            line-height: rem-calc(80);
            @include pie-clearfix;
            &:before{
                content: "";
                display: inline-block;
                position: absolute;
                right: rem-calc(34);
                top: 50%;
                width: rem-calc(14);
                height: rem-calc(30);
                @include transform(translateY(-50%));
                background: inline-image('jiantou.png');
                background-size:rem-calc(14) rem-calc(30); 
                visibility: hidden;

            }
            &.has-icon:before{
               visibility: visible; 
            }
            span{
                float: left;
            }
        }
        dd:last-child{
            a{
                border: none;
            }
        }
    }
}
.fixed-footer{
    .wraper{
        padding-bottom: rem-calc(98);
    }
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #161616;
    border-top: 1px solid #444;
    .qiu{
        position: absolute;
        z-index: 0;
        top:rem-calc(-20);
        left: 50%;
        width: rem-calc(130);
        height: rem-calc(130);
        border-radius: 50%; 
        @include transform(translateX(-50%));
        background: #161616;
        border: 1px solid #444;
    }
    &:before{
        content: "";
        position: absolute;
        z-index: 1;
        top:0;
        left: 0;
        width: 100%;
        height: rem-calc(98);
        background: #161616;
    }
    .contain{
        display: table;
        width: 100%;
        @include display-flex(flex);
        @include justify-content(space-around);
        @include align-items(flex-end);
        height: rem-calc(98);
        li{
            display: table-cell;
            height: rem-calc(78);
            position: relative;
            z-index: 2;
            text-align: center;
            vertical-align: middle;
        }
        span{
            display: block;
            margin: 0 auto;
        }
        .specity{
            top: rem-calc(10);
            width: rem-calc(98);
            height: rem-calc(98);
            a{
                position: relative;
                top: rem-calc(-20);
                display: inline-block;
                vertical-align: top;
                width: rem-calc(98);
                height: rem-calc(98);
                border-radius: 50%;
                background: image-url("foot-logo.png");
                background-size: rem-calc(98) rem-calc(98);
            }
        }
    }
}
