//第一个是窗口宽度[0,320]
$ratioFor320: 720/320;

//第二个是窗口宽度(>320 and <480), 此处设定为375宽。可以根据实际情况改变，但是不能超过该区间
$ratioFor360: 720/375;

//第三个是窗口宽度>＝480
$ratioFor480: 720/480;

//以下为html字体的大小
$htmSizeArray: floor($rem-base/$ratioFor320), floor($rem-base/$ratioFor360), floor($rem-base/$ratioFor480);

$mediaArray: "only screen",
"only screen and (min-width: 321px) and (max-width: 479px)",
"only screen and (min-width: 480px)";

@for $mediaIndex from 1 to length($mediaArray) + 1 {
	$media: nth($mediaArray, $mediaIndex);
	$htmlFz: nth($htmSizeArray, $mediaIndex);
	@media #{$media} {
		html{
			font-size: $htmlFz;
		}
	}
}